


main{
    height: 800px;
    display: grid;
    background-color: blue;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    grid-auto-flow: minmax(100px, auto);
    grid-gap: 1em;
}
.box 
 {
    border: 3px solid black;
    
}
.item1{
    grid-column: 1/3;
    min-height: 100px;
}
.item2{

    min-height: 200px;  
}
.item3{
    min-height: 300px;
} 

main div.box {
    background-color: rgb(185, 238, 99);
}
h1 strong{
    background-color: red;
}
h1 strong.abs{
    background-color: rgb(0, 21, 255);
}

